*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
/* ********************* NAVIGATION MENU BAR ADDED ******************** */
.navigation{
    position: fixed;
    left: -5px;
    width: 68px;
    height: 100%;
    background: #FFFFFF;
    transition: 0.6s;
    overflow: hidden;
    border-radius: 2px

}
.navigation ul li:nth-child(1)>.title:nth-child(1){
    position: fixed;
    background-color: black;
    color: white;
    font-size: 18px;
    padding-bottom: 30px;  
}
.navigation:hover,
.navigation.active{
    width: 300px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li:first-child{
    position: relative;
    width: 100%;
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    background-color: #383838; 
    padding-bottom: 0px; 
    
}
.navigation ul li:first-child>.icon{
    position:fixed;
    bottom: 20px;
}
.navigation ul li:first-child:hover{
    background-color: black;
}
.navigation ul li:first-child .title{
    position: relative;
    bottom: 4px;
    color: white;
    margin-top: 10px;
}
.navigation ul li:hover{
    background: #2e7d32;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

/* ********************* ICON CSS ************************** */

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 36px;
    font-size: 2px;
    color: black;
    text-align: center;
}

.navigation ul li a .icon:first-child{
    color: white;
    font-size: 28px;
    margin-top: 10px;
    padding: 15px;
}
.navigation ul li a .icon{
    font-size: 100px;
}
/* ****************** ICON TITLE CSS *********************** */


.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0px 9px;
    height: 20px;
    line-height: 80px;
    text-align: start;
    white-space:nowrap;
}


/********************* TOGGLE ADDED ************************/

.toggle{
    position: absolute;
    top: 0;
    right: 0px;
    left: 290px;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    background: transparent;
    cursor:pointer;
}
.toggle:before{
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 5px;
}


/* ********************* NAVBAR ADDED ******************** */


#hostnavbar{
    width: 100%;
    height: 70px;
    border: 1px solid;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
}

/* ********************* LOGO ADDED ******************** */
.logo{
    width: 30%;
    cursor: pointer;
    display: flex;
    margin-left: 370px;
    justify-content:space-between
    
}
.logo img{
    width: 150px;
}

/* ********************* ALL NAVBAR PAGES ******************** */
.pages{
    width: 36%;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 200px;
    
}
.pages>p{
    color: white;
    display: flex;
    font-family: IBM Plex Sans;
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.pages>p a{
    text-decoration: none;
    color: white;
}
.pages>p:hover{
    background-color: #03a9f4;
    color: black;
    padding: 20px;
}
#help-container{
    width: 50%;
    margin: auto;
    margin-top: 30px;  
}
#help-container>div:first-child{
    width:100%;
}
#help-container>div:first-child>img{
    width: 100%;
}


/* ********************** MAIL BOX ADDED ********************* */
.mail-box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.mail-box>div{
    width: 100% ;
    justify-content: space-evenly;
    line-height: 30px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.mail-box>div:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.box-edit>p:first-child{
    font-weight: bold;
    font-size: 18px;
}
.box-edit>p:nth-child(2){
    font-size: 16px;
    color: gray;
}
.mail-box>div:first-child>h5{
    margin-top: 70px;
    font-size: 18px;
    color: #10a310;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;

}
.box-edit-2>p:nth-child(2){
    font-weight: bold;
    font-size: 18px;
}
.box-edit-2>p:nth-child(3){
    font-size: 16px;
    color: gray;
}
p+h5{
    margin-top: 40px;
    font-size: 18px;
    color: #10a310;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
}

#neverstop-box{
    width: 70%;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#neverstop-box>div>h1{
    width: 10%;
    color: #E0E0E0;
    padding-left: 20px;
    font-size: 35px;
    line-height: 30px;
}
hr{
    width: 20%;
    margin-left: 20px;
    margin-top: 15px;
    color: #E0E0E0 ;
}
.aboutus-container{
    width: 70%;
    margin: 40px 0px 0px 220px;
    padding-left: 20px;
    color: grey;
}

.aboutus{
    width: 30%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-top: 20px;
}
.aboutus>img{
    width: 10%;
    float: right;
    padding-right: 20px;
    margin-right: -500px;
}

.seemore{
    width: 60%;
    margin-top: 20px;
}