
p {
    border-bottom: 1px solid rgb(224,224,224);  
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 25px;
  }
  #account>p {
      border-bottom: 1px solid black;
      text-align: left;
  
  }
  #account>span{
      border: none;
      padding-bottom: 20px;
      margin-top: 50px;
      font-size: 14px;
  }
  #account>span>input{
      height: 40px;
      margin-left: 50px;
      border: none;
  }
  #account>span+p{
  font-size: 14px;
  padding-top: 30px;
  border-bottom: 0px;
  }
  #account>p>input{
      height: 35px;
      margin-left: 50px;
  }
  #personal>p{
      width: 100%;
      text-align: left;
      border-bottom: 1px solid black;
      margin-bottom: 50px;
      font-size: 25px;
  }
  #personal>span>input{
      height: 30px;
      margin-left: 20px;
      border: none;
  }
  #personal>input{
      margin-left: 100px;
      width: 5%;
      height: 50px;
      border: 0px;
      margin-left: 550px;
      padding-left: 20px;
  }
  #personal>input+select{
      height: 40px;
      width: 10%;
  }
  #loct>p {
      text-align: left;
      border-bottom: 1px solid black;
      
  }
  #loct>p+p{
      font-size: 13px;
      text-align: left;
      margin-top:-40px;
      border: none;
  }
  #loct>input{
      margin-top: 50px;
      border: none;
  }
  #loct>input+select{
      margin-top: 50px;
      width: 150px;
      height: 35px;
  }
  #loct+div{
      border: 1px solid black;
      margin-top: 30px;
      height: 30px;
      text-align: center;
      width: 13%;
      justify-content: center;
      margin-left: 570px;
      padding-top: 15px;
  }
  
  @media all and (min-width:720px) and (max-width:1079px)
  {
body{
   background-color: wheat;
}

  } 

  @media all and (min-width:320px) and (max-width:719px)
  {
body{
   background-color: wheat;
}

  }